{% extends 'main.twig' %}
{% set active_page = 'home' %}

{% block title %}Ryan Site - Tell me what to put here{% endblock %}



{% block content %}
		
<div class="cycle-slideshow" data-cycle-slides="li">
	{% for homeItem in homePage %}
		<li id="{{ homeItem.id }}"><img src="img/{{ homeItem.home_img }}" alt="{{ homeItem.home_img}}" /></li>
    {% endfor %}
</div>


<ul class="ul-list" id="home-ul">
    {% for homeItem in homePage %}
        <li id="{{ homeItem.id }}"><img src="img/{{ homeItem.home_img }}" alt="{{ homeItem.home_img }}"/></li>
    {% endfor %}
</ul>


<ul class="ul-list" id="port-ul">
    {% for portItem in portPage %}
        <li id="{{ portItem.id }}"><img src="img/{{ portItem.port_img }}" alt="{{ portItem.port_img }}"/></li>
    {% endfor %}
</ul>
	
{% endblock %}

 
