{% extends 'main.twig' %}
{% set active_page = 'home' %}

{% block title %}Ryan Site - Tell me what to put here{% endblock %}



{% block content %}
		
<ul class="cycle-slideshow" data-cycle-slides="li">
	{% for homeItem in homePage %}
		<li id="{{ homeItem.id }}" onclick='crossfade(".cycle-slideshow", "#{{ homeItem.next_ul }}")'>
            <img src="img/{{ homeItem.home_img }}" alt="{{ homeItem.home_img}}" />
        </li>
    {% endfor %}
</ul>


<ul class="ul-list" id="home-ul">
    {% for homeItem in homePage %}
        <li id="{{ homeItem.id }}">
            <img src="img/{{ homeItem.home_img }}" alt="{{ homeItem.home_img }}"/>
        </li>
    {% endfor %}
</ul>


<ul class="ul-list" id="port-ul">
    {% for portItem in portPage %}
        <li id="{{ portItem.id }}"><img src="img/{{ portItem.port_img }}" alt="{{ portItem.port_img }}"/></li>
    {% endfor %}
    <li onclick='crossfade("#port-ul", ".cycle-slideshow")'>
        Go back
    </li>
</ul>

<ul class="ul-list" id="land-ul">
    {% for landItem in landPage %}
        <li id="{{ landItem.id }}"><img src="img/{{ landItem.port_img }}" alt="{{ landItem.port_img }}"/></li>
    {% endfor %}
    <li onclick='crossfade("#land-ul", ".cycle-slideshow")'>
        Go back
    </li>
</ul>
	
{% endblock %}

 
