{% extends 'main.twig' %}
{% set active_page = 'home' %}

{% block title %}Ryan Site - Tell me what to put here{% endblock %}



{% block content %}
		
<div class="cycle-slideshow"  id="home-slide"> <!--data-cycle-slides="li"> -->
	{% for homeItem in homePage %}
	<!--	<li id="{{ homeItem.id }}" onclick='crossfade(".cycle-slideshow", "#{{ homeItem.next_ul }}")'>-->
            <img src="img/{{ homeItem.home_img }}" alt="{{ homeItem.home_img}}" onclick='crossfade("#home-slide", "#{{ homeItem.next_ul }}")' />
    <!--    </li>-->
    {% endfor %}
</div>


<ul class="ul-list" id="home-ul">
    {% for homeItem in homePage %}
        <li id="{{ homeItem.id }}">
            <img src="img/{{ homeItem.home_img }}" alt="{{ homeItem.home_img }}"/>
        </li>
    {% endfor %}
</ul>


<ul class="ul-list lightBox" id="port-ul">
    {% for portItem in portPage %}
        <li id="{{ portItem.id }}">
            <a href="img/{{ portItem.port_img }}">
                <img src="img/{{ portItem.port_img }}" alt="{{ portItem.port_img }}"/>
            </a>
        </li>
    {% endfor %}
    <li onclick='crossfade("#port-ul", "#home-slide")'>
        Go back
    </li>
</ul>

<ul class="ul-list lightBox" id="land-ul">
    {% for landItem in landPage %}
        <li id="{{ landItem.id }}">
            <a href="img/{{ landItem.land_img }}">
                <img src="img/{{ landItem.land_img }}" alt="{{ landItem.land_img }}"/>
            </a>
        </li>
    {% endfor %}
    <li onclick='crossfade("#land-ul", "#home-slide")'>
        Go back
    </li>
</ul>


<div class="cycle-slideshow lightBox" id="misc-ul" data-cycle-slides="a">
    {% for miscItem in miscPage %}
        <a href="img/{{ miscItem.misc_img }}">
            <img src="img/{{ miscItem.misc_img }}" alt="{{ miscItem.misc_img }}"/>
        </a>
    {% endfor %}
    <p id="back-button" onclick='crossfade("#misc-ul", "#home-slide")'>
        Go back
    <p>
</div>
	
{% endblock %}

 
