<div class="navbar navbar-default navbar-custom">

	<!--<div class="container">-->



			<div class="navbar-header">

			  {% if active_page == 'admin' or active_page == 'contact' %}

					<a id="mobHome" href='{{ path_for('portfolio') }}'
						{% if active_page == 'home' %}
							class="navbar-brand navbar-custom"
						{% else %}
							class="navbar-brand navbar-custom"
						{% endif %}>

							Ryan O'Toole Collett
					</a>

					<a id="tabPcHome" href='{{ path_for('portfolio') }}'
						{% if active_page == 'home' %}
							class="navbar-brand navbar-custom"
						{% else %}
							class="navbar-brand navbar-custom"
						{% endif %}>
							Ryan O'Toole Collett
					</a>

			{% else %}

					<a id="mobHome" href='javascript:crossfade(".tempActive", ".cycle-slideshow")'
						{% if active_page == 'home' %}
							class="navbar-brand navbar-custom"
						{% else %}
							class="navbar-brand navbar-custom"
						{% endif %}>
							Ryan O'Toole Collett
					</a>

					<a id="tabPcHome" href='javascript:crossFadePc(".temp", ".home-ul")'
						{% if active_page == 'home' %}
							class="navbar-brand navbar-custom"
						{% else %}
							class="navbar-brand navbar-custom"
						{% endif %}>
							Ryan O'Toole Collett

					</a>

				{% endif %}



				<div id="navInsta">
					<div class="insta" id="footer-social">
							<a href="https://www.instagram.com/ryanotoolecollett/"><img src="img/Instagram.png" alt="Instagram Social" width="30px" height="30px"/></a>
					</div>

					<div class="insta">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>

						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</div>
				</div>

			</div>









				<div class="collapse navbar-collapse">


					<ul class="nav navbar-nav">

						<li><a data-toggle="collapse" data-target=".in" href="{{ path_for('contact') }}">Contact</a></li>
						<li><a data-toggle="collapse" data-target=".in" href="https://www.instagram.com/ryanotoolecollett/">Instagram</a></li>



						{% for homeItem in homePage %}

							{% if homeItem.ul_id == 'home-ul'%}

								<li class="hideNavItems" onclick='crossfade(".tempActive", ".{{ homeItem.next_ul }}")'>
									<a data-toggle="collapse" data-target=".in">
									{% set foo =  homeItem.next_ul |split('-') %}
									{% for i in foo %}{{ i }} {% endfor %}
									</a>
								</li>

							{% endif %}

						{% endfor %}

						{% for tItem in tPage %}

							{% if active_page == 'contact' and tItem.next_ul is not null %}

								<li class="hideNavItems" onclick='showHomePage()'>
									<a data-toggle="collapse" data-target=".in">
									{% set foo =  tItem.next_ul |split('-') %}
									{% for i in foo %}{{ i }} {% endfor %}
									</a>
								</li>

							{% endif %}

						{% endfor %}





						{% if auth.check %}

							<li class="dropdown">

								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin
								<span class="caret"></span>
								</a>

								<ul class="dropdown-menu">
									<li><a href="{{ path_for('adminHome.create') }}">Add to Home Page</a></li>
		              <li><a href="{{ path_for('adminHome.update') }}">Update Home Page</a></li>
		              <li><a href="{{ path_for('adminGallery.create') }}">Add to Gallery</a></li>
		              <li><a href="{{ path_for('adminGallery.update') }}">Update Gallery</a></li>

		              <li><a href="{{ path_for('adminNewGallery.create') }}">Add New Gallery</a></li>
									<li><a href="{{ path_for('adminContact.create') }}">Add/update contact</a></li>
									<li><a href="{{ path_for('adminAbout.create') }}">Add/update about</a></li>



									<li><a href="{{ path_for('adminUpload.update') }}">Upload Image</a></li>
									<li><a href="{{ path_for('auth.password.change') }}">Change Password</a></li>
									<li><a href="{{ path_for('auth.signout') }}">Sign Out</a></li>

								</ul>

							</li>

						{% endif %}

					</ul>

				</div>



<!--		</div>-->

</div>
